<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
<IfModule mod_expires.c>
	FileETag MTime Size
    <FilesMatch \.(png|gif|jpe?g|ico)$>
        Header append Cache-Control "public"
        ExpiresActive On
        ExpiresDefault "access plus 2 months"
    </FilesMatch>
    <FilesMatch \.(css|js)$>
        Header append Cache-Control "private"
        ExpiresActive On
        ExpiresDefault "access plus 1 days"
    </FilesMatch>
</IfModule>
